@import "~basscss/css/basscss.css";
@import "./flatpickr-airbnb.css";

@font-face {
  font-family: OpenSans;
  src: url('~fonts/OpenSans-Regular.woff2');
}

@font-face {
  font-family: OpenSans;
  src: url('~fonts/OpenSans-Light.woff2');
  font-weight: 300;
}

:root {
  --font-family: OpenSans, sans-serif;
  --opencolor-red-3: #ffa8a8;
  --opencolor-green-4: #69db7c;
  --opencolor-blue-3: #74c0fc;
  --opencolor-blue-4: #4dabf7;
  --opencolor-grey-0: #f8f9fa;
  --opencolor-grey-4: #ced4da;
}

body, html {
  font-family: var(--font-family);
  background-color: var(--opencolor-grey-0);
}

#app {
  padding-bottom: 5px;
}

#events-list {
  height: calc(100vh - 2em);
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: #ccc 0 1px 1px;
}

#events-list .events-group,
#events-list .single-event {
  cursor: pointer;
  line-height: 48px;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
}

.list-cell {
  text-transform: capitalize;
}

.list-cell.raw {
  text-transform: none;
}

@keyframes fade-in {
  from { stroke-opacity: 0; }
  to   { stroke-opacity: 1; }
}

.time-ring line {
  stroke-opacity: 0;
  animation: fade-in 0.1s forwards;
}

.time-ring line.normal {
  stroke: var(--opencolor-blue-3);
}

.time-ring line.overtime {
  stroke: var(--opencolor-red-3);
}

.time-digits {
  margin-top: calc(-300px + -36px);
  font-size: 72px;
  font-weight: 300;
  color: var(--opencolor-blue-4);
}

.splash-screen {
  color: var(--opencolor-blue-4);
  line-height: 100vh;
  font-size: 72px;
  font-weight: 300;
}

.ages-icon {
  height: 64px;
  width: 64px;
  stroke: var(--opencolor-blue-4);
  margin-bottom: -0.5rem;
}

.ring-calendar {
  margin-left: 300px;
}

.date-input {
  font-size: 24px;
  width: 300px;
  background: transparent;
  border: none;
  color: var(--opencolor-blue-4);
}

.date-nav-button {
  -webkit-user-select: none;
  transition: border-color 0.2s, opacity 0.2s;
  cursor: pointer;
  font-size: 18px;
  color: var(--opencolor-blue-4);
  border: 1px transparent solid;
  height: 32px;
  line-height: 32px;
  width: 32px;
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;
}

.date-nav-button.active {
  opacity: 1;
  pointer-events: auto;
}

.date-nav-button:hover {
  border-color: var(--opencolor-blue-4);
}

.event-type-selector {
  cursor: pointer;
}

.event-type-selector span {
  text-transform: capitalize;
  transition: color 0.2s, border-color 0.2s;
  border: 1px transparent solid;
  padding: 4px 6px;
  border-radius: 2px;
}

.event-type-selector span:hover {
  color: var(--opencolor-blue-4);
}

.event-type-selector span.active {
  color: var(--opencolor-blue-4);
  border-color: var(--opencolor-blue-4);
}

.manual-event-submit {
  transition: color 0.2s, border-color 0.2s;
  border: 1px transparent solid;
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--opencolor-blue-4);
}

.manual-event-submit:hover {
  border-color: var(--opencolor-blue-4);
}

.autostart-toggle {
  border: 1px transparent solid;
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--opencolor-grey-4);
}

.autostart-toggle.on {
  color: var(--opencolor-green-4);
}
